@media(max-width: 767px){
    .main-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100%;
        margin: 20px 0;
        padding: 0;
        gap: 10px;
    }

    .section-title{
        padding: 10px;
    }

    .text h1{
        font-size: 28px;
        line-height: 0.9em;
    }

    .text p{
        font-size: 22px;
        line-height: 1em;
    }
}